<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Tempus Webapp Test Suite">
            <directory>./tests/Tempus/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Tempus/</directory>
        </whitelist>
    </filter>
</phpunit>
