<html>
    <head>
        <!-- stuff goes here -->
    </head>
    <body>
        [admin shell]
        <div>
        {% block content %}Fallback content goes here{% endblock %}
        </div>
        [/admin shell]
    </body>
</html>